.title {
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
    letter-spacing: -1px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 10rem;
    place-items: center;
}

div {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #AAA;
    padding: 30px;
    width: 150px;
}

.div1:hover {
    background-color: rgb(255, 212, 133);
    border-color: rgb(191, 158, 96);
}

.div2:hover {
    background-color: lightblue;
    border-color: rgb(118, 148, 157);
}

.div3:hover {
    background-color: lightgreen;
    border-color: rgb(128, 211, 128);
}

.module {
    font-size: 20px;
    letter-spacing: -1px;
}

.quantity {
    margin-top: 1rem;
    font-size: 30px;
}