<div class="blurImg"></div>
<section>
    <div class="example-container">
        <form #authForm="ngForm" (ngSubmit)="authForm.resetForm()">
            <p class="authTitle">Welcome to Studently</p>
            <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="admin@admin" [formControl]="email" required autocomplete="off">
                <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input type="password" matInput placeholder="1234" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
            </mat-form-field>
            <button

                mat-raised-button
                type="button"
                color="primary"
                [disabled]="!email.valid || !password.valid"
                (click)="login()">
                Enter
            </button>
        </form>
    </div>
</section>

<!-- routerLink="/dashboard/home" -->