<section id="abmSection">
    <div class="shadowDiv">
        <p class="titleAbm" appFontSizing>Enrollment ABM</p>
        <p class="subtextAbm">ABM system allows you to sign up new enrollments, update existing ones and make dismissions.</p>
        <form [formGroup]="enrollmentModel" #studentForm="ngForm" (ngSubmit)="studentForm.resetForm()">
            <div class="inputContainer">
                <mat-form-field class="inputBox">
                    <mat-label class="inputLabel">Student's fullname</mat-label>
                    <mat-select class="inputOption" [formControl]="student_fullname" required>
                        <mat-option class="inputOption" *ngFor="let student of studentsTypes" [value]="student.value">
                            {{student.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="student_course.invalid">{{getErrorMessage(student_course)}}</mat-error>
                </mat-form-field>
                <mat-form-field class="inputBox">
                    <mat-label class="inputLabel">Student's course</mat-label>
                    <mat-select class="inputOption" [formControl]="student_course" required>
                        <mat-option class="inputOption" *ngFor="let type of types" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="student_course.invalid">{{getErrorMessage(student_course)}}</mat-error>
                </mat-form-field>
            </div>
            <p class="subtextComplete">Complete form to register a new enrollment.</p>
            <button
                class="submitBtn"
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="
                    !student_fullname.valid ||
                    !student_course.valid" 
                (click)="onSubmit()"><mat-icon>add</mat-icon>Enroll</button>
        </form>
    </div>
    <app-enrollment
        [dataSource]="(enrollment | async) || []"
        (deleteEnrollment)="onDeleteEnrollment($event)"
        (editEnrollment)="onEditEnrollment($event)">
    </app-enrollment>
</section>