.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.titleAbm {
    font-size: 20px;
}

.subtextAbm, .subtextComplete {
    font-size: 12px;
}

.inputBox {
    width: 200px;
    font-size: 12px;
}

.inputLabel, .submitBtn, .inputOption {
    font-size: 12px;
}

.submitBtn {
    margin-top: .5rem;
}

.shadowDiv {
    padding:16px;
    box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 1px 9px 2px rgba(0,0,0,0.2);
}

.subtextComplete {
    margin-top: 1rem;
}