.toolbarDiv {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.authUsername {
    font-size: 16px;
    padding: 0 8px;
}

.example-spacer {
    flex: 1 1 auto;
}

.title {
    letter-spacing: -1px;
}

.drawerContainer {
    width: 100vw;
    height: 100vh;
}

.drawerSidenav {
    width: 150px;
    height: 100vh;
}

.divUlSidenav {
    margin-top: 24px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
    & .pMenu {
        padding-right: 5px;
    }

    & ul {
        margin: 0;
        padding: 0;
        
        & li {
            margin-top: 5px;
            padding: 0;
            list-style-type: none;
            cursor: pointer;
            border-radius: 5px;
            
            & .icon-display {
                transform: scale(0.8) translateY(8px);
            }
        }

        & li:hover {
            background-color: #CCC;
        }
    }
}

.abmDiv {
    padding: 16px 16px;
}