<mat-drawer-container class="drawerContainer">
    <mat-drawer mode="over" #drawer class="drawerSidenav" mode="side">
        <div class="divUlSidenav">
            <p class="pMenu">Menu</p>
            <ul>
                <li routerLink="home"><mat-icon class="icon-display">border_all</mat-icon>Home</li>
                <li routerLink="students-abm"><mat-icon class="icon-display">school</mat-icon>Students</li>
                <li routerLink="courses-abm"><mat-icon class="icon-display">folder_shared</mat-icon>Courses</li>
                <li routerLink="enrollment-abm"><mat-icon class="icon-display">assignment_ind</mat-icon>Enrollment</li>
                <li (click)="logout()" routerLink="/auth"><mat-icon class="icon-display">close</mat-icon>Log out</li>
            </ul>
        </div>
    </mat-drawer>
    
    <div class="toolbarDiv">
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
            </button>
            <span class="title">Studently</span>
            <span class="example-spacer"></span>
            <span *ngIf="authService$ | async;" class="authUsername">{{ authUser }}</span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar>
    </div>

    <div class="abmDiv">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>